#container {
  background-color: rgba(green,.1);
}

#header,
#main,
#footer {
  background-color: rgba(blue,.1);
}

#site-message {
  background-color: rgba(green,.1);
}

.section {
  background-color: rgba(red,.1);
}
.column {
  background-color: rgba(blue,.1);
}

