
@baseLine: 18px;

@lightGrey: #fafafa;
@richRed: #ff4628;
@coolBlue: #78ccff;


body {
	background: @lightGrey;
}
figure {
  margin: 0 0 @baseLine;
  position: relative;
  figcaption {
    background-color: black;
    color: white;
    padding: .25em 1em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    a {
      color: white;
    }
  }
}

header {
  background: darken(@lightGrey, 3%);
  border-bottom: 1px solid darken(@lightGrey, 10%);
  margin-bottom: 2 * @baseLine;
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  .container {
    position: relative;
    padding-bottom: 2 * @baseLine;
    padding-top: 2 * @baseLine;
  }
  .row {
    position: relative;
    z-index: 100;
  }
  .stripe {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5%;

    -moz-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);

    &.blue {
      background-color: @coolBlue;
    }
    &.red {
      background-color: @richRed;
    }
  }
  #stripe-blue1 {
    width: 4%;
    left: 2%;
    opacity: .8;
  }
  #stripe-blue2 {
    width: 6%;
    left: 4%;
    opacity: .6;
  }
  #stripe-blue3 {
    width: 16%;
    left: 12%;
    opacity: .4;
  }
  #stripe-blue4 {
    width: 8%;
    left: 22%;
    opacity: .2;
  }
  #stripe-red1 {
    width: 4%;
    right: 7%;
    opacity: .8;
  }
}

.about {
  border-bottom: 1px solid darken(@lightGrey, 10%);
  margin-bottom: 2 * @baseLine;
  padding-bottom: 2 * @baseLine;
}

.resume {
  border-bottom: 1px solid darken(@lightGrey, 10%);
  margin-bottom: 2 * @baseLine;
  padding-bottom: 2 * @baseLine;
}

.well {
  background-color: lighten(@coolBlue, 20%);
}