body {
  background: #fafafa;
}
figure {
  margin: 0 0 18px;
  position: relative;
}
figure figcaption {
  background-color: black;
  color: white;
  padding: .25em 1em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .7;
}
figure figcaption a {
  color: white;
}
header {
  background: #f2f2f2;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 36px;
}
header h2 {
  font-size: 18px;
  line-height: 27px;
}
header .container {
  position: relative;
  padding-bottom: 36px;
  padding-top: 36px;
}
header .row {
  position: relative;
  z-index: 100;
}
header .stripe {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5%;
  -moz-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
}
header .stripe.blue {
  background-color: #78ccff;
}
header .stripe.red {
  background-color: #ff4628;
}
header #stripe-blue1 {
  width: 4%;
  left: 2%;
  opacity: .8;
}
header #stripe-blue2 {
  width: 6%;
  left: 4%;
  opacity: .6;
}
header #stripe-blue3 {
  width: 16%;
  left: 12%;
  opacity: .4;
}
header #stripe-blue4 {
  width: 8%;
  left: 22%;
  opacity: .2;
}
header #stripe-red1 {
  width: 4%;
  right: 7%;
  opacity: .8;
}
.about {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 36px;
  padding-bottom: 36px;
}
.resume {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 36px;
  padding-bottom: 36px;
}
.well {
  background-color: #def3ff;
}
