
/*
 * Base parameters
 */

// Typography
$base-font-family                 : unquote('Helvetica, Arial, Liberation Sans, FreeSans, sans-serif');

$base-font-size                   : 14px;
$base-line-height                 : 1.3571; // 19px (@14px)

$small-font-size                  : 11px;
$large-font-size                  : 17px;
$xlarge-font-size                 : 23px;
$xxlarge-font-size                : 28px;

$typographic-v-margin             : $base-font-size * $base-line-height;
$typographic-h-margin             : $typographic-v-margin;

// Colors
$peasoup-green                    : rgb(169,207,84);
$ocean-blue                       : rgb(4,191,191);
$banana-yellow                    : rgb(247,233,103);

$bg-color                         : #fdfdfd;
$text-color                       : #444;
$mute-color                       : #888;
$strong-color                     : #111;

$link-color                       : $ocean-blue;
$link-hover-color                 : $peasoup-green;
$link-active-color                : $link-hover-color;
$link-visited-color               : $link-color;
$link-focus-color                 : $link-hover-color;
$link-contrast-color              : #fff;

$line-color                       : darken($bg-color, 20%);
$line-color                       : $ocean-blue;

/*
 * Grid system
 */
$gs-colgutter                     : 5%;


/*
 * Compass defaults
 */
$default-border-radius            : 3px;
$default-transition-duration      : 0.4s;
