/*
 * Basic styles
 */
body {
  background-color: $bg-color;
  color: $text-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
  @include single-transition(color);
  text-decoration: none;
}

img {
  @include border-radius;
}

#container {
  @include clearfix;
  margin: auto;
  padding: 2 * $typographic-v-margin $typographic-h-margin;
  width: 978px;
}

/*
 * Header
 */
#header {
  @include clearfix;
}
#site-logo {
  @include replace-text('logo-2x.png');
  @include background-size(100% auto);
  float: left;
  height: .6 * image-height('logo-2x.png');
  width: .6 * image-width('logo-2x.png');
  margin-top: 4px; // align with message
}
#site-message {
  color: $strong-color;
  float: right;
  font-size: $large-font-size;
  width: (((100% - (2 * $gs-colgutter)) / 3) * 2) + $gs-colgutter;
}

/*
 * Main
 */
#main {
  h1 {
    color: $strong-color;
    font-size: $large-font-size;
    font-weight: bold;
    margin: .75em 0 .25em 0;
  }
  h2 {
    color: $mute-color;
  }
  .section {
    @include clearfix;
    border-top: 1px dotted $line-color;
    margin: 2 * $typographic-v-margin auto;
    padding-top: 2 * $typographic-v-margin;
  }
  .thumb {
    max-width: 100%;
    height: auto;
  }
  .column {
    float: left;
    margin-left: $gs-colgutter;
    &:first-child {
      margin-left: 0;
    }
  }
}
#offer {
  .column {
    width: (100% - (2 * $gs-colgutter)) / 3;
  }
}
#profile {
  .column {
    width: (100% - $gs-colgutter) / 2;
  }
}

/*
 * Footer
 */
#footer {
  border-top: 2px solid $line-color;
  margin: $typographic-v-margin auto;
  padding-top: $typographic-v-margin;
}

